<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentines Day For My Wife To Be</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="bod">
        <div class="container">
            <div class="content">
                <div>
                    <h1 class="blk">
                        Will You Be My Wife
                    </h1>
                </div>
                <div class="imageContainer">
                    <img src= "bow-wow.gif" alt=<%= imageAlt %>>
                </div>
                <div class="buttons">
                    <input id="acceptButton" type="button" value="acceptButtonText">
                    <input id="rejectButton" type="button" value= "rejectButtonText">
                </div>
            </div>
        </div>
    <script src="script.js"></script>
    <script src="index.js"></script>
</body>
</html>
